@import url("fontello.css");

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Source Code Pro';
  src: url(fonts/SourceCodePro-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f8;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 20px;
  margin: 20px auto;
  width: 95%;
  text-align: center;
  font-family: 'Source Code Pro', monospace, sans-serif;
}

h1 img {
  width: 16px;
  display: inline-block;
}

nav {
  height: 80px;
  margin: 0 auto;
  width: 93%;
}

.dropbox-signout {
  text-decoration: none;
  color: #333;
  font-size: 10px;
  text-transform: uppercase;
}

#search-container {
  float: left;
  margin: 0 auto;
  width: 100%;
}

#settings-container {
  float: right;
  width: 30%;
  text-align: right;
  margin-top: -90px;
}

#note-search {
  background: #f8f8f8;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0px;
  font-family: 'Source Code Pro', monospace, sans-serif;
  font-size: 20px;
  outline: 0;
  padding: 10px 0px;
  width: 100%;
}

#results-container {
  clear: both;
  margin-bottom: 40px;
  margin: 0 auto;
  padding: 0px 5px 20px 5px;
  width: 95%;
}

#search-results {
  -webkit-columns: 300px auto;
  text-align: center;
}

#search-results li {
  background: #fff;
  box-shadow: 0px 1px 2px 0px #aaa;
  display: inline-block;
  margin: 5px;
  padding: 20px;
  text-align: left;
  width: 260px;
}

#search-results li a {
  color: #333;
  font-size: 10px;
  text-decoration: none;
}

#search-results li p {
  white-space: pre-wrap;
}

#search-results li span {
  display: block;
}

.note-date {
  display: block;
  float: right;
  font-size: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.note-url {
  display: block;
  float: left;
  font-size: 10px;
}

.note-url i {
 display: inline-block;
 font-size: 10px;
 margin-top: -4px;
 color: #333;
}

.note-score {
  display: block;
  text-align: center;
  font-size: 10px; 
}

.note-body {
  clear: both;
  font-family: 'Source Code Pro', monospace, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
