@import url("fontello.css");

@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Source Code Pro';
  src: url(fonts/SourceCodePro-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f8;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

nav {
  height: 80px;
  margin-top: 20px;
  width: 100%;
}

nav div {
 margin: 0 auto;
 width: 95%;
}

#note-search {
  background: #f8f8f8;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0px;
  font-family: 'Source Code Pro', monospace, sans-serif;
  font-size: 20px;
  outline: 0;
  padding: 10px 0px;
  width: 100%;
}

#container {
  margin-bottom: 40px;
  margin: 0 auto;
  padding: 0px 5px;
  width: 95%;
}

#search-results {
  -webkit-columns: 300px auto;
  text-align: center;
}

#search-results li {
  background: #fff;
  box-shadow: 0px 0px 2px 0px #999;
  display: inline-block;
  margin: 5px;
  padding: 20px;
  text-align: left;
  width: 260px;
}

#search-results li span {
  display: block;
}

.note-date {
  display: block;
  float: right;
  font-size: 10px;
  margin-bottom: 20px;
  text-align: right;
}

.note-url {
  display: block;
  float: left;
  font-size: 10px;
}

.note-url i {
 display: block;
 font-size: 14px;
 margin-top: -4px;
}

.note-body {
  clear: both;
  font-family: 'Source Code Pro', monospace, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}
