@import url("fontello.css");

body {
  background: #f8f8f8;
  font-family: 'Source Code Pro', monospace, sans-serif;
  padding: 10px 20px;
  text-align: center;
  width: 300px;
}

.icon-svg {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 30px;
  width: 40px;
}

h1 {
  color: #000;
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: 0px;
  text-align: center;
}

p {
  color: #333;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 40px;
}

#dropbox-signin {
  background: #007EE5;
  border-radius: 3px;
  border: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 30px;
  outline: 0;
  padding: 10px 15px;
  vertical-align: middle;
}

#dropbox-signin i {
  font-size: 16px;
}

#dropbox-signin:hover {
  cursor: pointer;
}
