@import url("fontello.css");


@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Source Code Pro';
  src: url(fonts/SourceCodePro-Regular.otf);
}

html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
body {
  background: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 10px 0px 10px;
  width: 100%;
}

h1 {
  height: 3vh;
  bottom: 0;
  color: #000;
  font-family: 'Source Code Pro', monospace, sans-serif;
  font-size: 20px;
  position: fixed;
  text-align: center;
  width: 260px;
  padding: .25em .2em;
  margin-bottom: .7em;
  background-color: #F8F8F8;
  opacity: 0.2;
}

.icon-svg {
  width: 16px;
  display: inline;
  padding-right: .45em;
}

#loggedin {
  width: 260px;
}

nav {
  /*height: 3vh;*/
  margin-bottom: 24px;
  width: 87%;
  position: fixed;
  background-color: #F8F8F8;
  /*padding: .5em .1em;*/
  padding-top: 15px;
  top: 0;
}

#sync-indicator {
  background: #2ECC71;
  border-radius: 5px;
  display: inline-block;
  float: left;
  height: 8px;
  width: 8px;
  margin-top: 5px;
}

nav a {
  color: #aaa;
  display: inline-block;
  float: right;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

textarea {
  background: #F8F8F8;
  border: 0;
  box-shadow: 0;
  clear: both;
  color: #333;
  display: inline-block;
  font-family: 'Source Code Pro', monospace, sans-serif;
  font-size: 15px;
  line-height: 21px;
  outline: 0;
  resize: none;
  width: 260px;
  height: 85vh;
  border: 1px solid black;
  margin-top: 44px;
}

@media only screen and (max-height:655px) {
  textarea {
    height: 80vh;
  }
}

@media only screen and (max-height:555px) {
  textarea {
    height: 75vh;
  }
}

@media only screen and (max-height:440px) {
  textarea {
    height: 58vh;
  }
}