@font-face {
  font-family: 'Open Sans';
  src: url(fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Source Code Pro';
  src: url(fonts/SourceCodePro-Regular.otf);
}

body {
  background: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  padding: 5px 10px 0px 10px;
  width: 100%;
}

h1 {
  bottom: 0;
  color: #ccc;
  font-family: 'Source Code Pro', monospace, sans-serif;
  font-size: 20px;
  position: fixed;
  text-align: center;
  width: 260px;
}

.icon-svg {
  width: 16px;
  display: inline;
  padding-right: .45em;
}

#loggedin {
  width: 260px;
}

ul {
  float: right;
  list-style-type: none;
  margin: 0 0 40px 0;
  padding: 0;
  text-align: right;
}

ul li {
  color: #aaa;
  display: inline-block;
  font-size: 8px;
  font-weight: 600;
  margin-left: 5px;
  text-transform: uppercase;
}

textarea {
  /*background: #F8F8F8;*/
  border: 0;
  box-shadow: 0;
  clear: both;
  color: #333;
  display: inline-block;
  font-family: 'Source Code Pro', monospace, sans-serif;
  font-size: 15px;
  line-height: 21px;
  outline: 0;
  resize: none;
  width: 260px;
}

button {
  background: #333;
  border-radius: 3px;
  border: 0;
  box-shadow: 0;
  color: #fff;
  float: left;
  font-size: 10px;
  font-weight: 800;
  padding: 5px 10px;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
}
